.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  .li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    background:transparent;
    background-color: white;
    margin: 2px;
    strong{
        cursor: pointer;
    }
    &:hover {
      background-color: rgb(106, 108, 121);
    }
  }
}
